.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.nav {
  background-color: $braves-blue;
  box-shadow: 0px 7px 10px 5px $shadow-color;
  overflow: auto;

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $nav-text-color;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;

    &:hover,
    &:focus { // dim when mouse hovers over title
      opacity: .6;
    }
  }

  // navigation menu link
  &-item {
    @include transition(all .2s ease-out);
    color: $grey-4;
    font-weight: 500;
    display: inline-block;
    opacity: 0.8;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    // darken when mouse hovers over navigation links
    &:hover,
    &:focus { 
      opacity: 1;
    }

    // expand underline on mouse hover
    &:hover .nav-uline,
    &:focus .nav-uline { 
      opacity: 1;
      width: 100%;
    }
  }

  // underline below nav links
  &-uline {
    @include transition(all .2s ease-out);
    border-top: 0.1rem solid $nav-text-color;
    opacity: 0.8;
    display: block;
    width: 0rem;
  }

  // unordered list
  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }


  // URL
  a {
    color: $nav-text-color;
    font-family: $sans-serif;
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

footer {
  font-family: $sans-serif;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}
