.post {
  padding: 3rem 0;
  font-variant-ligatures: normal;
  font-variant-numeric: stacked-fractions;

  &-info { // author and date info
    color: $default-tint;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 0.9rem;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
    text-align: center;
  }

  &-line { // block line below title
    border-top: 0.4rem solid $default-shade;
    display: block;
    margin: 0rem auto 3rem;
    width: 4rem;
    font-family: $sans-serif;
  }

  p { // post content text
    font-family: $sans-serif;
    font-size: $post-font-size;
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }

  ol {
    margin-top: -5px; // shrink vertical space above an ol
  }
  li {
    margin-left: -20px;
    p {
      font-size: 0.85rem;
      margin-bottom: 0em;
    }
  }

  // Superscript
  sup {
    font-size: x-small;
  }

  // Footnote links
  .footnotes {
    font-size: 0.85rem;
    line-height: 0.25em;
    height: auto;
  }


  // Table
  table {
    width: 90%;
    border-collapse: collapse;
    // table header
    th {
      text-align: left;
    }

    // line between different sections in the same table
    .cell-line {
      border-top: 1px solid $default-shade;
      display: block;
      width: 70%;
      margin: .4rem 0;  // move vertically toward the middle of the line 
    }
  }
    
}


