---
layout: default
---
<div class="paper">
    <h1 class="paper-title">{{ page.title }}</h1>
    <div class="paper-info">
        {% if page.authors %}
            {{ page.authors }}
        {% else %}
            {{ site.author.name }}
        {% endif %}
    
        {% if page.journal %}
            <br>
            {{ page.journal }}
        {% endif %}
        {% if page.date %}
          <br>
          <time datetime="{{ page.date }}">{{ page.date | date: "%B, %Y" }}</time>
        {% endif %}
      </div>
    
      <div class="paper-line"></div>
  
    <h2>Abstract</h2>
    {{ content }}

    {% if page.puburl or page.pdfurl or page.acmdl %}
    <h3>Links</h3>
      {% if page.puburl %}
        <div><a href="{{ page.puburl }}">Project page</a></div>
      {% endif %}
      {% if page.pdfurl %}
        <div><a href="{{ page.pdfurl }}">Download paper</a></div>
      {% endif %}
      {% if page.acmdl %}
        <div><a href="https://dl.acm.org/citation.cfm?id={{ page.acmdl }}">ACM Digital Library</a></div>
      {% endif %}
    {% endif %}
    
  </div>
  
  {% if page.comments %}
    {% include disqus_comments.html %}
  {% endif %}
  
  <div class="pagination">
    {% if page.next.url %}
      <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592; Next</a>
    {% endif %}
    {% if page.previous.url %}
      <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">Previous &#8594;</a>
    {% endif %}
  
    <a href="#" class="top">Top</a>
  </div>
